.pme-popup-content {
    width: 100%;
    margin: 10px 0;
    padding: 0 !important;
}

.pme-popup-content.hidden  {
    display: none;
}

.pme-popup-content iframe {
    width: 100%;
    border: none;
}

.pme-popup-content .loading {
    opacity: 0.5;
}