.chidden {
    display:none !important;
}

#app-list {
    width: 100%;
}

#app-list .accueil__carte__titre {
    display: none;
}

#app-list .accueil__carte__info {
    min-height: 0px;
    height: auto;
}

#app-list .lienaccesdirect {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    overflow: visible;
}

#app-list .lienaccesdirect > li {
    width: 150px;
    height: 150px;
}

#app-list .lien_externe {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
}

#activity-list {
    margin-top: 50px;
    background-color: transparent;
}


#activity-list .accueil__carte__titre {
    display: none;
}

#activity-list .accueil__carte__titre {
    display: none;
}

#activity-list .accueil__carte__info {
    height: auto;
    box-shadow: none;
    background: transparent;
    overflow: visible;
}

#activity-list .notification {
    max-height: unset;
    overflow: visible;
    cursor: pointer;
}

#activity-list .notification li {
    margin-bottom: 10px;
    border: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: relative;
}

#activity-list .notification li .activity-pin {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 20px;
    padding-left: 1em;
    padding-bottom: 5px;
    padding-right: 1em;
    padding-top: 5px;
    opacity: 0;
}

#activity-list .notification li.pinned .activity-pin {
    opacity: 1;
}

#activity-list .notification li:not(.pinned):hover .activity-pin {
    opacity: 0.5;
}

#activity-list .notification li:not(.pinned) .activity-pin:hover {
    opacity: 1;
}

#activity-list .notification li .activity-pin i {
    transform-origin: 50% 50%;
    transform: rotate(45deg);
}

#activity-list .card__lien {
    position: relative;
    border: none;
    background: transparent;
}

@media screen and (min-width: 85em) {
    #activity-list {
        width: 64%;
    }
}

#calendar-list .accueil__carte {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#calendar-list .accueil__carte__info {
    flex: 1;
    box-sizing: border-box;
}

@media screen and (min-width: 85em) {
    #calendar-list .accueil__carte__info {
        margin-bottom: 100px;
    }
}

#tweets-list .accueil__carte__info {
    background: transparent;
    box-shadow: none;
    height: auto;
    padding: 0;
}

#tweets-list .social-twitter__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}


@media screen and (min-width: 85em) {
    #tweets-list .social-twitter__tweet {
        width: 33.33333333333%;
    }
}

#tweets-list .social-twitter__tweet {
    margin: 0;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

@media screen and (min-width: 85em) {
    #campus-post-list, #school-post-list {
        width: 48%;
    }
}

#campus-post-list .accueil__carte__info, #school-post-list .accueil__carte__info {
    background: transparent;
    box-shadow: none;
    padding: 0;
    overflow: visible;
    height: auto;
}

#campus-post-list .actualites, #school-post-list .actualites {
    overflow: visible;
    max-height: unset;
}


#campus-post-list .actualites li, #school-post-list .actualites li {
    border: none;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 0;
}

#campus-post-list .actualites li .vignette_deco, #school-post-list .actualites li .vignette_deco {
    float: none;
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    transition: ease-in-out 1s max-height;
    transition-delay: 0.5s;
}

#campus-post-list .actualites li:hover .vignette_deco, #school-post-list .actualites li:hover .vignette_deco {
    max-height: 2000px;
}

#campus-post-list .actualites li .vignette_deco img, #school-post-list .actualites li .vignette_deco img {
    width: 100%;
    max-width: unset;
    margin: 0;
    padding: 0;
}

#campus-post-list .actualites li .vignette_deco2, #school-post-list .actualites li .vignette_deco2 {
    padding: 20px;
}

#campus-post-list .actualiteCard__lien, #school-post-list .actualiteCard__lien {
    background-color: transparent;
    border: none;
    position: relative
}
