#app-list {
    width: 100%;
}

#app-list .accueil__carte__titre {
    display: none;
}

#app-list .accueil__carte__info {
    min-height: 0px;
    height: auto;
}

#app-list .lienaccesdirect {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    overflow: visible;
}

#app-list .lienaccesdirect > li {
    width: 150px;
    height: 150px;
}

#app-list .lien_externe {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
}

#activity-list {
    margin-top: 50px;
    background-color: transparent;
}


#activity-list .accueil__carte__titre {
    display: none;
}

#activity-list .accueil__carte__titre {
    display: none;
}

#activity-list .accueil__carte__info {
    height: auto;
    box-shadow: none;
    background: transparent;
    overflow: visible;
}

#activity-list .notification {
    max-height: unset;
    overflow: visible;
    cursor: pointer;
}

#activity-list .notification li {
    margin-bottom: 10px;
    border: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

#activity-list .card__lien {
    position: relative;
    border: none;
    background: transparent;
}

@media screen and (min-width: 85em) {
    #activity-list {
        width: 64%;
    }
}
